body {
  margin: 0;
  background-color: grey;
}
h1 {
  text-align: center;
}
.hidden {
  visibility: hidden;
}
/* ------ Artists grid and items ------ */
#grid-container {
  width: 100%;
}
#artists-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  width: 100%;
}
@media (min-width: 630px) {
  #artists-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 930px) {
  #artists-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  #artists-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1500px) {
  #artists-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
.artists-grid-item {
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.273);
  border: 8px solid green;
  border-radius: 10px;
  margin: 10px;
}
.artists-grid-item img {
  width: 100%;
  height: 20em;
  object-fit: cover;
  object-position: top;
}
/* ------ Dialogs ------ */
#dialog-container {
  position: fixed;
}
#detailedArtistDialog {
  display: grid;
  position: relative;
}
#detailedArtistDialog button {
  width: min-content;
  position: relative;
  left: 98%;
}
/* ------  ------ */
#menu {
  text-align: center;
}
#filter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  width: 100%;
}
#filter-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1em;
}
